<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">A</a>
    </div>
    
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="../navbar/">호스팅 하기</a></li>
        
      <%if(!current_user)%>
        <li><a data-toggle="modal" data-target="#signupModal" style="cursor: pointer;">회원가입</a></li>
        <li><a data-toggle="modal" data-target="#loginModal" style="cursor: pointer;">로그인</a></li>
      <%else%>
        <li><%=link_to "여행"%></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%=current_user.username%></a>
          <ul class="dropdown-menu">
            <li><%=link_to "프로필수정"%></li>
            <li><%=link_to "계정관리", edit_user_registration_path%></li>
            <li><%=link_to "로그아웃", destroy_user_session_path, method: :delete%></li>
          </ul>
        </li>
      <%end%>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>