<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-body">
        <h3>가입 절차를 시작합니다. 금방 끝나요!</h3>
        <%=link_to "패이스북", user_facebook_omniauth_authorize_path, class: "font-green"%> 또는 <%= link_to "구글", user_google_oauth2_omniauth_authorize_path, class: "font-green"%>로 회원 가입하세요.

        <div class="signup-or-separator">
          <span class="h6 signup-or-separator--text">또는</span>
          <hr>
        </div>

      <!-- devise new_session -->
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render 'share/devise-message'%>
        <div class="field">
          <%= f.email_field :email, autofocus: true , placeholder: "이메일 주소", class: "form-control form-sign"%>
        </div>

        <div class="field">
          <%= f.text_field :username, placeholder: "이름", class: "form-control form-sign"%>
        </div>

        <div class="field">
          <%= f.password_field :password, autocomplete: "off" , placeholder: "비밀번호 설정", class: "form-control form-sign"%>
        </div>
        
        <hr>

        <div class="actions">
          <%= f.submit "회원가입" , class: "btn btn-lg btn-wide btn-green"%>
        </div>

        <hr>

        이미 에어비앤비 계정이 있나요? <%= link_to "로그인", new_user_session_path, class: "font-green" %><br />
      <% end %>

      </div> 
      <!-- modal-body end -->

    </div>
  </div>
</div>