<div class="container margin-top">
  
  <div class="row">
    <div class="col-md-3">
      <%=image_tag avatar_url(@user), style: "width: 100%;", class: "img-responsive"%>
      <br>
      <div class="panel panel-default">
        <div class="panel-heading">
          인증된 정보
        </div>
        <div class="panel-body">
          <p class="profile_information"><%= raw("이메일 주소 <i class=\"fa fa-check-circle-o\" aria-hidden=\"true\"></i>") if @user.email %></p>

          <p class="profile_information"><%= raw("전화번호 <i class=\"fa fa-check-circle-o\" aria-hidden=\"true\"></i>") if @user.phone_number%></p>
          <hr>
          <%if @user.provider == "google_oauth2"%>
            <p class="btn"><i class="fa fa-google" aria-hidden="true"></i> 구글이메일 인증</p>
          <%elsif @user.provider == "facebook"%>
            <p class="btn"><i class="fa fa-facebook" aria-hidden="true"></i> 패이스북 인증</p>
          <%end%>
          
          <%if current_user%>
            <%if current_user == @user%>
              <hr>  
              <p><%=link_to "인증 추가", edit_user_registration_path%></p>
            <%else%>
              <%= link_to "메시지 보내기", contacts_path(sender_id: current_user.id, recipient_id: @user.id), method: 'POST', class: "btn btn-green"%>
            <%end%>
          <%end%>

        </div>
        
      </div>
    </div>

    <div class="col-md-9">
      <%=link_to "프로필 수정", edit_user_registration_path%>
      <h1>안녕하세요, <%=@user.username%>입니다!</h1>
      <div class="h4">회원가입: <%=@user.created_at.strftime("%Y년 %m월 %d일")%></div>
      <p style="min-height: 50px;"><%=@user.description%></p>
      
      <!-- 운영중인 숙소 -->
      <div class="row">
        <h2 class="col-md-12">운영중인 숙소 <span class="small mute">(<%= @user.rooms.length%>)</span></h2>
        <% @user.rooms.each do |room|%>
          <div class="col-sm-6">
            <% if room.photos.length > 0%>
              <div class="profile_room_list">
                <div class="profile_room_wrap">
                  <h4 class="profile_room_title"><%=room.listing_name%></h4>
                  <h5 class="profile_room_summary">
                    1박 ￦<%=room.price%> ∙ <%=room.room_type%> ∙ <%=room.home_type%>
                  </h5>
                  <%=link_to room do %>
                    <%= image_tag(room.photos[0].image.url(), class: "img-responsive")%>
                  <%end%>
                </div>
              </div>
            <%else%>
              <%=image_tag("missing", class: "img-responsive")%>
            <%end%>
          </div>
        <%end%>
      </div>
      
      <!-- 후기 -->
      <div class="row">
        <%review_count = 0%>
        <%@user.rooms.each do |room|%>
          <%review_count+=room.reviews.length%>
        <%end%>
        
        <h2 class="col-md-12">후기 <span class="small mute">(<%=review_count%>)</span></h2>
        <h4 class="col-md-12">게스트후기</h4>

        <div class="col-md-12 margin-top clearfix" style="padding: 0;">
          <%@user.rooms.each do |room|%>
            <%room.reviews.each do |review|%>

                <div class="col-md-3 text-center">
                  <%= image_tag avatar_url(review.user), class: "img-circle avatar-large"%>
                  <h4 style="word-wrap: break-word; font-weight: 100;"><%= review.user.username%></h4>
                </div>
                <div class="col-md-9">
                  <p><%= review.comment%></p>
                  
                  <h5><%= review.created_at.strftime("%Y년 %m월 %d일")%></h5>
                  <%if review.user_id == current_user%>
                    <%=link_to "리뷰삭제", [@room, review], method: :DELETE, data: {confirm: "회원님의 리뷰는 다른 회원님들께 큰 도움이 됩니다. 정말 삭제하시겠습니까?"}%>
                  <%end%>
                </div>
                <hr class="col-md-9 col-md-offset-3" style="margin-top: 0;">
            <%end%>
          <%end%>
        </div>

      </div>
    </div>
  </div>
</div>
