<div class="container margin-top">
	<div class="row">
		<div class="col-md-3">
			<ul>
				<li class="h4"><%=link_to("숙소 목록", rooms_path)%></li>
				<li class="h4 active"><%=link_to("예약 관리", my_reservations_path)%></li>
				<%=link_to "새로운 숙소 추가", new_room_path, class: 'btn btn-green'%>
			</ul>

			<br>
		</div>
		<div class="col-md-9">
			<div class="panel panel-default">
				<div class="panel-heading">
					예약 목록
				</div>
				<div class="panel-body">
				<%if @rooms.length > 0%>
					<% @rooms.each do |room|%>
						<%room.reservations.each do |reservation|%>
						<div class="row room_list">
							<div class="col-md-5">
								<% if reservation.room.photos.length > 0%>
									<%=link_to reservation.room do %>
										<%= image_tag(reservation.room.photos[0].image.url(), class: "img-responsive")%>
									<%end%>
								<%else%>
									<%=image_tag("missing", class: "img-responsive")%>
								<%end%>
							</div>
							<div class="col-md-7">
								<h4><%=link_to reservation.room.listing_name, room, class: "h4"%></h4>
								<p>기간: <%=reservation.start_date.strftime("%m월 %d일")%> - <%=reservation.end_date.strftime("%m월 %d일")%></p>
								<h4>예상수익 : ￦<%=reservation.total%></h4>
								<%=link_to reservation.user do%>
									<%=image_tag(avatar_url(reservation.user), class: "img-circle avatar-small")%>
								<%end%>
							</div>
						</div>
						<hr>
						<%end%>
					<%end%>
				<%else%>
					예정된 예약이 없습니다.
				<%end%>
				</div>
			</div>
		</div>
	</div>
</div>