<div class="cover-image-container">
	<% if @room.photos.length > 0%>
		<div class="cover-img" style="background-image: url(<%=@room.photos[0].image.url()%>);">
			<a class="btn btn-default" data-toggle="modal" data-target="#imgModal" style="cursor: pointer;">사진보기</a>
		</div>
	<%else%>
		<div class="cover-img cover-img-placeholder"></div>
	<%end%>
</div>
<!-- modal -->

<%=render 'share/room-img-slider-modal'%>

<!-- summary -->
<div class="container summary">
	<div class="row">
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-3 text-center">
					<br>
					<%=image_tag avatar_url(@room.user), class: "img-circle avatar-large"%>
					<h5><%= @room.user.username%></h5>
				</div>

				<div class="col-md-9">
					<div class="summary-room-info">
						<h3><%=@room.listing_name%></h3>
						<p id="address"><%=@room.kor_address%></p>
					</div>
					<div class="row text-center">
						<div class="col-xs-3">
							<i class="fa fa-home fa-2x" aria-hidden="true"></i>
							<p class="h5"><%=@room.room_type%></p>
						</div>
						<div class="col-xs-3">
							<i class="fa fa-user fa-2x" aria-hidden="true"></i>
							<p class="h5">인원 <%=@room.accommodate%>명</p>
						</div>
						<div class="col-xs-3">
							<i class="fa fa-bath fa-2x" aria-hidden="true"></i>
							<p class="h5">욕실 <%=@room.bath_room%>개</p>
						</div>
						<div class="col-xs-3">
							<i class="fa fa-bed fa-2x" aria-hidden="true"></i>
							<p class="h5">침실 <%=@room.bed_room%>개</p>
						</div>

					</div>
				</div>

			</div>
		</div>

		<div class="col-md-4">
			<%=render 'reservations/form'%>
		</div>
	</div>
</div>

<hr>

<div class="container details">
	<div class="row">
		<div class="col-md-12">
			<h4>상세설명</h4>
			<p></p>	
		</div>
		<hr class="col-md-8">	
	</div>

	<div class="row">
		<div class="col-md-2">숙소</div>
		<div class="col-md-3">
			<ul>
				<li>숙박 가능 인원: <span class="h5"><%=@room.accommodate%></span></li>
				<li>욕실: <span class="h5"><%=@room.bath_room%></span></li>
				<li>침실: <span class="h5">	<%=@room.bed_room%></span></li>
				<li>집 유형: <span class="h5"><%=@room.home_type%></span></li>
			</ul>
		</div>
		<div class="col-md-3">
			<ul>
				<li>숙소 유형: <span class="h5"><%=@room.room_type%></span></li>
				<li>체크인: <span class="h5"><%=@room.check_in.strftime("%p %I시 %M분 ")%></span></li>
				<li>체크아웃: <span class="h5"><%=@room.check_out.strftime("%p %I시 %M분 ")%></span></li>
			</ul>
		</div>
		<hr class="col-md-8">
	</div>

	<div class="row">
		<div class="col-md-2">시설</div>
		<div class="col-md-3">
			<ul>
				<%=@room.is_tv ? raw("<li class=\"h5\"><i class=\"fa fa-tv\" aria-hidden=\"true\"></i> TV</li>") : raw("<li><del>TV</del><li>")%>
				<%=@room.is_kitchen ? raw("<li class=\"h5\"><li class=\"h5\"><i class=\"fa fa-cutlery\" aria-hidden=\"true\"></i> 부엌</li>") : raw("<li><del>부엌</del><li>")%>
				<%=@room.is_air ? raw("<li class=\"h5\"><li class=\"h5\"><i class=\"fa fa-snowflake-o\" aria-hidden=\"true\"></i> 에어컨</li>") : raw("<li><del>에어컨</del><li>")%>
			</ul>
		</div>
		<div class="col-md-3">
			<ul>
				<%=@room.is_heating ? raw("<li class=\"h5\"><li class=\"h5\"><i class=\"fa fa-thermometer-2\" aria-hidden=\"true\"></i> 히터</li>") : raw("<li><del>히터</del><li>")%>
				<%=@room.is_wifi ? raw("<li class=\"h5\"><li class=\"h5\"><i class=\"fa fa-wifi\" aria-hidden=\"true\"></i> 무선 인터넷</li>") : raw("<li><del>무선 인터넷</del><li>")%>
			</ul>
		</div>
		<hr class="col-md-8">
	</div>

	<div class="row">
		<div class="col-md-2">설명</div>
		<div class="col-md-6"><%=@room.summary%></div>
		<hr class="col-md-8">
	</div>

	<div class="row">
		<div class="col-md-2">숙소 이용규칙</div>
		<div class="col-md-6">체크인은 <%=@room.check_in.strftime("%H시 :%M ")%> 이후입니다.</div>
	</div>
	
</div>

<hr>

<!-- reviews -->
<div class="container review">
	<%=render "reviews/list"%>
	<%=render "reviews/form" if @booked && !@hasReview%>
</div>

<hr>
<!-- map -->
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h4>숙소설명</h4>
			<p>에어비앤비를 이용하면 누군가의 소중한 집에 머무르는 것입니다.</p>
		</div>
		<hr class="col-md-8">
		<div class="col-md-12">
			<div id="map" style="width: 100%; height: 648px;"></div>
		</div>
	</div>
</div>

<!-- nearby -->

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<br>
			<h4>근처 또 다른 숙소</h4>
			<br>
		</div>

		<%for room in @room.nearbys(10, units: :km)%>
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading preview">
						<%=image_tag room.photos[0].image.url(:medium)%>
					</div>
					<div class="panel-body">
						<h4><%=link_to room.listing_name, room%></h4>
						<%=room.room_type%> - 거리: <%=room.distance.round(2)%> 킬로미터
					</div>
				</div>
			</div>
		<%end%>
	</div>
</div>


<hr>

