<!DOCTYPE html>
<html>
  <head>
    <title>애어비앤비</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  </head>

  <body>
    <%=render 'share/navbar-fixed-top'%>
    <%=render 'share/login-modal'%>
    <%=render 'share/signup-modal'%>
    <%=render 'share/message'%>
    
    <%= yield %>
  </script>
  </body>
</html>
