<!DOCTYPE html>
<html>
  <head>
    <title>애어비앤비</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'tablet', media: 'screen and (max-device-width: 767px)'%>
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="/assets/lightslider.min.css" rel="stylesheet">
    <script src="/assets/lightslider.js"></script>
  </head>

  <body>
    <%=render 'share/navbar-fixed-top'%>
    <%=render 'share/login-modal'%>
    <%=render 'share/signup-modal'%>
    <%=render 'share/message'%>
    
    <%= yield %>

  <script async defer 
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDeBIFHUVsXXu_od8C0Z8m7s3pvE7CXKxs&v=3&libraries=places,drawing,geometry&callback=initMap" onerror="googleError()">
  </script>

  </body>
</html>
