<!DOCTYPE html>
<html>
  <head>
    <title>애어비앤비</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%=render 'share/navbar-fixed-top'%>
    <%=render 'share/login-modal'%>
    <%=render 'share/signup-modal'%>

  	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
    
  </body>
</html>
